[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sentence-transformers = "*"
psycopg2 = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
faiss = "*"

[requires]
python_version = "3.7"
