[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sentence-transformers = "*"
psycopg2 = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
tabulate = "*"
tika = "*"
torch = "*"
faiss-gpu = "*"
somajo = "*"
flair = {editable = true,git = "https://github.com/zalandoresearch/flair.git"}

[requires]
python_version = "3.7"
